<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>清单放行统计</title>
        <style>
         .divider {
             height: 0;
             margin: 1rem 0;
             overflow: hidden;
         }
        </style>
    </head>
    <body>
        <div class="container mt-5">
            {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <script>
                 setTimeout(function() {
                     $('.alert').css('display', 'none');
                 }, 5000);
                </script>
            {% endif %}
            <form action="" post="get">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">开始日期</label>
                    <div class="col-sm-10">
                        <input type="date" name="beginDate" value="{{ beginDate }}" required="required" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">结束日期</label>
                    <div class="col-sm-10">
                        <input type="date" name="endDate" value="{{ endDate }}" required="required" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
            <div class="divider"></div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="alert alert-info" role="alert">
                        进出口清单放行统计结果：
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">类型</th>
                                <th scope="col">总单量</th>
                                <th scope="col">外网放行量</th>
                                <th scope="col">外网放行率</th>
                                <th scope="col">内网放行量</th>
                                <th scope="col">内网放行率</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">进口</th>
                                <td>{{ invtIn[0] }}</td>
                                <td>{{ invtIn[1] }}</td>
                                <td>{{ invtIn[2] }}</td>
                                <td>{{ invtIn[3] }}</td>
                                <td>{{ invtIn[4] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">出口</th>
                                <td>{{ invtOut[0] }}</td>
                                <td>{{ invtOut[1] }}</td>
                                <td>{{ invtOut[2] }}</td>
                                <td>{{ invtOut[3] }}</td>
                                <td>{{ invtOut[4] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
